.container-fluid {
  height: 100vh;
  background-color: rgb(45, 73, 64);
}

#ticket-quote {
  display: none;
}

#ticket-quote.visible {
  display: flex;
}

.red-text {
  color: rgb(19, 17, 17);
  font-size: 12px;
}

#generate-btn {
  background-color: rgb(30, 116, 255);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(62, 136, 255);
}

#reset-btn {
  background-color: grey;
  border: 2px solid darkgray;
  color: white;
  border-radius: 5px;
}

.grey-bord {
  border: 1px solid darkgrey;
}